# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.whl
*.spec
uv.lock


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
.venv/
env/
venv/

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Test result logs
tests/output/
test-results/

# Jupyter Notebook
.ipynb_checkpoints

# Editors and IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Windows files
Thumbs.db
desktop.ini

# Logs
*.log

# Temporary files
*.tmp
*.bak
*.swp
*.orig

# Application specific
config_*.ini
test.py
configs
settings.json
assets
_assets
client_secrets.py
layout_config.ini

# Others
tmp_*
